<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
	<div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
		Nenhuma Vacinação Cadastrada.
	</div>
	<div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}">
	</div>
	<div th:if="${not #lists.isEmpty(lista)}">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Data</th>
					<th>Pessoa</th>
					<td>Lote da Vacina</td>
					<td>Local de Vacinação</td>
					<td>Dose</td>
					<th>Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="vacinacao:${lista}">
					<td th:text="${vacinacao.id}"></td>
					<td th:text="${#dates.format(vacinacao.dataVacinacao, 'dd/MM/yyyy')}"></td>
					<td th:text="${vacinacao.pessoa.nome}"></td>
					<td th:text="${vacinacao.lote.identificacao}"></td>
					<td th:text="${vacinacao.local.nome}"></td>
					<td th:text="${vacinacao.dose}"></td>
					<td><a class="btn btn-primary btn-sm" th:href="@{/vacinacao/editar(id=${vacinacao.id})}">Editar</a>
					<a class="btn btn-danger btn-sm" th:href="@{/vacinacao/excluir(id=${vacinacao.id})}">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</html>